.pie-chart {
    transform: rotate(-90deg) scale(1);
    width: 20.0rem;
    height: 20.0rem;
    // background: $clr-dark-blue;
    border-radius: 50%;
}
.pie-chart circle {
    fill: rgba(0,0,0,0.2);
    stroke: $clr-light-blue;
    stroke-width: 1;
    // stroke-dasharray: 38 100;
    // animation: fillup 3s linear infinite;
  }
  @keyframes fillup {
    to { stroke-dasharray: 158 158; }
  }